/* @media (max-width: 539px) {
    body {
        zoom: 90%;
    }
} */

@media (min-width: 720px) {
    body {
        zoom: 150%;
    }
}

body {
    font-family: 'Nunito Sans';
    background-color: #e0fff0;
    margin: 0;
}

#title {
    margin-top: 30px;
    display: flex;
}

h1 {
    width: 285px;
    text-align: right;
    color: #008040;
    letter-spacing: 1px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
}

span {
    white-space: nowrap;
}

.spacer {
    flex: 100%;
}

#logo {
    margin-top: 20px;
    width: 50px;
    filter: brightness(50%);
}

#info {
    border-radius: 20px;
    background-color: #c0f0d8;
    margin: 0 8%;
    padding: 20px 33px;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #0060ff;
    white-space: nowrap;
}

.button {
    transition-duration: 200ms;
    display: block;
    margin: 50px auto;
    font-family: inherit;
    color: black;
    /* background-color: #f0fff8; */
    color: #007038;
    border: #007038 2px solid;
    border-radius: 100px;
    padding: 5px;
    width: 120px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.25px;
}


.button:hover {
    color: #008040;
    border: #008040 2px solid;
    transition-duration: 200ms;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 6px;
}


#show-certificate {
    display: none;
}

#show-certificate:target {
    display: block;
}

#screenshot {
    display: block;
    width: 100%;
    max-width: 528px;
    margin: auto;
    margin-top: 200px;
}

#go-back {
    font-family: 'Gaegu';
    transition: 100ms;
    position: fixed;
    left: 0;
    top: 8px;
    background-color: #fff2d6;
    padding: 8px 12px 8px 6px;
    border-radius: 0 100px 100px 0;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0 0.5px 3px;
}

#go-back:hover {
    transition: 100ms;
    padding-left: 12px;
}